tensorflow==2.13.0
protobuf>=3.20.0,<5
streamlit==1.27.2
numpy==1.23.5
pandas==1.5.3
requests
pillow
altair==4.2.2
scikit-learn==1.3.0  # Corrected Version
opencv-contrib-python==4.11.0.86  # Use this OR opencv-python-headless (not both)
# opencv-python-headless  # Uncomment this if running on a server instead of opencv-contrib-python
